/* page.module.css */
/* page.module.css */
.form-bg-azzurro {
    max-width: 1200px;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #21b8d0;
    padding: 1%;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
    /* Aggiungi spazio sopra il form */
}

.container {
    flex-direction: column;
    justify-content: center;

    padding-top: 90px;
    /* Aggiungi spazio in cima per spostare tutto più in basso */
}