/* Styles for the form background */
.form-bg-azzurro {
    max-width: 1200px;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #21b8d0;
    padding: 1%;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
    /* Aggiungi spazio sopra il form */
}

.container {
    flex-direction: column;
    justify-content: center;
    padding-top: 90px;
    /* Aggiungi spazio in cima per spostare tutto più in basso */
}

@media (max-width: 768px) {
    .container {
        padding-top: 190px;
        /* Aggiungi più spazio in cima per dispositivi mobili */
    }

    .form-bg-azzurro {
        width: 100%;
        /* Rendi il contenitore più largo */
        margin: 0 auto;
        /* Centra il contenitore */
    }
}